/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000; /* Primary color */
    color: #fff; /* Primary color */
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #007bff; /* Primary color */
    color: #fbff00;
  }
  
  /* Additional button styles */
  .btn.secondary {
    border-color: #6c757d; /* Secondary color */
    color: #6c757d; /* Secondary color */
  }
  
  .btn.secondary:hover {
    background-color: #6c757d; /* Secondary color */
    color: #fff;
  }
  
  /* Add more button styles as needed */
  